script#admin-general-view-template(type="text/x-template")
  #admin-general
    h2 Firmware
    button.pure-button.pure-button-primary(@click="check") Check
    button.pure-button.pure-button-primary(@click="upgrade") Upgrade via Web
    label.pure-button.pure-button-primary(@click="upload_firmware") Upgrade via File
    form.upload-firmware.file-upload
      input(type="file", accept=".bz2", @change="upload")

    p
      input(type="checkbox", v-model="autoCheckUpgrade",
        @change="change_auto_check_upgrade")
      label(for="auto-check-upgrade") &nbsp; Automatically check for upgrades

    h2 Configuration
    button.pure-button.pure-button-primary(@click="backup") Backup

    label.pure-button.pure-button-primary(@click="restore_config") Restore
    form.restore-config.file-upload
      input(type="file", accept=".json", @change="restore")

    button.pure-button.pure-button-primary(@click="confirmReset = true") Reset    
    message(:show.sync="confirmReset")
      h3(slot="header") Reset to default configuration?
      p(slot="body") Non-network configuration changes will be lost.
      p.reset-variants(slot="body")   
      div(slot="footer")
        button.pure-button(@click="confirmReset = false") Cancel
        button.pure-button.pure-button-primary(@click="reset") Reset
        
    h2 Debugging
    a(href="/api/log", target="_blank")
      button.pure-button.pure-button-primary View Log
    a(href="/api/bugreport")
      button.pure-button.pure-button-primary Bug Report
