script#button-controller-view(type="text/x-template")
  #btn-check
      div(style="text-align:center")   
          h1(slot="header") Set button Type 
          h3(slot="body") click on the icon to select button type :
          div(style="display:flex;flex-direction:row;justify-content:space-around ; justify-content: space-around; flex-wrap:wrap;min-height:40vh")
            div(style="padding:15px",@click="button_type = 'push'" ,)
                img(src="./images/pushButton.png", style="display:inline", alt="push button" :class="button_type=='push'?'selected':'pxSize'")
            div(style="padding:15px ",)
                img(src="./images/rockerButton.png",style="display:inline", alt="rocker button" @click="button_type = 'rock'" ,:class="button_type=='rock'?'selected':'pxSize'")
          div(style='text-align:center')
            div(style='display:flex; justify-content:center')
              button( class="enabled",@click="previous") previous 
              button( :class="button_type?'enabled':'disabled'", @click="set_btn_type" :disabled="!button_type") next

