script#get-started-template(type="text/x-template")
    div
      div#get-started
        h1#welcome-heading Welcome to Onefinity CNC
        p
          | Hi and welcome to Onefinity !
          | Thank you for being a part of our community.
          | We are happy to see you here!
        br
        br
        div(style="text-align:right;width:65vw;")
          a(href='#default-config' class="green-btn")  Lets get started!
          div
