script#initial-setup-template(type="text/x-template")
      div(style='padding:10vh 1vw;')
        h1#welcome-heading(style='font-family: sans-serif; font-weight: 200;') Setup Complete. Let's start cutting 
        p(style="font-size: 26px; font-family: 'Courier New', Courier, monospace; max-width: 70vw;")
          | Wooho, Your setup was successfull 
          | we have saved your configuration as default.
        br
        br
        div(style="text-align:right;width:65vw;")
          a( style='green-btn' @click='set_config')  Reboot!
