script#z-slider-view-template(type="text/x-template")    
      h3(slot="header") Pick your Z Slider Type
      p(slot="body") Non-network configuration changes will be lost.
      p(slot="body") Select defaults to restore:
      p.reset-variants(slot="body")
        input#tab1(type="radio", name="z_slider_variant" @click="z_slider_variant = 'Z-16 Original'")
        label(for="tab1", title="Z-16 Original") Z-16 Original

        input#tab2(type="radio", name="z_slider_variant" @click="z_slider_variant = 'Z-20 Heavy Duty'")
        label(for="tab2", title="Z-20 Heavy Duty") Z-20 Heavy Duty
                
      div(slot="footer")
        button.pure-button(@click="z_slider = false") Cancel
        button.pure-button.pure-button-primary(@click="set_z_slider") set z slider
