doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lets' get started
    body
        div
            img(src='/images/onefinity_logo.png' style='width:50%; margin-top:3em;')
            p(style='font-size:25px; font-family:sans-serif ; margin-top:2em ; padding: 0% 0% 0% 15%')
                | Wooho, Your setup was successfull and we have saved your configuration as default.
                br
                | Thank you for choosing us. Lets's explore!!
            a(href='/home/' style=' color:white ; background-color:#6F8DF5 ; font-size:20px; font-family:sans-serif ; margin-left:60em; margin-top:13em ; padding:12px ; border-radius:8%;text-decoration: none;') Done !!
 