//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Lets' get started
//-     body
//-         div
//-                 img(src='/images/onefinity_logo.png' style='width:50%; margin-top:3em;')
//-                 p(style='font-size:25px; font-family:sans-serif ; margin-top:2em ; padding: 0% 0% 0% 15%')
//-                 | Hi and welcome to Onefinity ! Thank you for being a part of our community. 
//-                 br
//-                 | We are happy to see you here!
//-                 a(href='/defaultConfig/' style=' color:white ; background-color:#6F8DF5 ; font-size:20px; font-family:sans-serif ; margin-left:60em; margin-top:13em ; padding:12px ; border-radius:8%;text-decoration: none;') Let's Get Started>>


doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Onefinity CNC - Web interface    
  body    
    #layout
      #main
        div(style="padding-left:60px;display:flex;")
         div(style="display:flex; flex-direction:column; align-self: center; white-space: nowrap;")
            img(src="/images/onefinity_logo.png" style="width:300px;")
        p(style="font-size:200%; font-family:sans-serif ; padding: 10% 0% 0% 15% ; font-family: 'Courier New', monospace;")
              | Hi and welcome to Onefinity !
              br
              |Thank you for being a part of our community. 
              br
              | We are happy to see you here!
        div(style="height: 64px;font: normal normal 700 1em/4em Arial,sans-serif; overflow: hidden; width: 200px;background-color: #3e75e7;border-radius: 20px; margin-left:70%;")
          a(href='/defaultConfig/' style="  color: white;text-decoration:none;text-align: center;display:block;")
            | Let's Get Started