doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Onefinity CNC - Web interface

    style: include ../static/css/pure-min.css
    //- style: include ../static/css/side-menu.css

    style: include ../static/css/font-awesome.min.css
    style: include ../static/css/Audiowide.css
    style: include ../static/css/clusterize.css
    style: include ../svelte-components/node_modules/svelte-material-ui/bare.css
    style: include ../../build/http/svelte-components/smui.css
    style: include ../../build/http/svelte-components/style.css
    style: include:stylus ../stylus/style.styl

  body(v-cloak)
    //- #adminViewSvelte
    admin-network-view

    #templates: include ../../build/templates.pug
    iframe#download-target(style="display:none")

    script: include ../static/js/vue.js
    script: include ../static/js/sockjs.min.js
    script: include ../static/js/clusterize.min.js
    script: include ../static/js/three.min.js
    script: include:browserify ../js/main.js
    script: include ../../build/http/svelte-components/index.js
    script: include ../static/js/ui.js
